.DS_Store
.vscode/
.vscode/c_cpp_properties.json
.vscode/arduino.json
.vscode/settings.json
/data/config.json
/build/core
/build/preproc
/build/sketch
/build/libraries
/build/arduino.ar
/build/build.options.json
/build/MQTTDevice.ino.elf
/build/MQTTDevice.ino.map
/build/includes.cache
/build/local.eagle.app.v6.common.ld